
    <div class="container">
      <div class="row">

        <div class="twelve columns box">
          <h3>Bill with settings</h3>
          <div class="">
            Select the call or sms radio button. Update the appropriate total and the overall total when the ADD button in pressed.
            <i>Calls costs should now be configurable using the settings section.</i>
          </div>
          <div class="">
            <i>If the total cost exceed the warning level show the total cost in orange, if it exceeds the critical level show it in red and prevent any new costs from being added. The  warning and critical level should both be configurable now.</i>
          </div>

          <hr>

          <div class="row">

            <div class="six columns">
              <h5>Bill type</h5>
              <!-- Radio Buttons, values are being recalled from Settings -->
              <form class="" action="action" method="post">
                <label class="">
                  <input type="radio" name="billType" class="billItemTypeWithSettings" value='call'>
                  <span class="label-body">Call</span>
                </label>
                <label class="">
                  <input type="radio" name="billType" class="billItemTypeWithSettings" value="sms">
                  <span class="label-body" >SMS</span>
                </label>
                <button class="button-primary" type="submit" >Add</button>
              </form>

              <h5>Totals</h5>
              <!-- Total, values of call and sms being added to get a total -->
                  <table>
                    <tr>
                      <td>
                        <a href="/actions/call">Call total</a>
                      </td>
                      <td>R<span class="callTotalSettings" action='action'>{{billCallTotal}}</span> </td>
                    </tr>
                    <tr>
                      <td>
                        <a href="/actions/sms">SMS total</a>
                      </td>
                      <td>R<span class="smsTotalSettings" action='action'>{{billSMSTotal}}</span> </td>
                    </tr>
                    <tr>
                      <td>
                        <a href="/actions">Total</a>
                      </td>
                      <td> R<span class="totalSettings {{levels}}" action='action'>{{billTotalTotal}}</span> </td>
                    </tr>
                  </table>

            </div>
             <div class="row">
            <div class="five columns">
             
              <h5>Settings</h5>
              <form class="" action="/settings" method="post">

                <label for="exampleEmailInput">Call cost</label>
                <input class="u-full-width callCostSetting" name="callCost" type="number" step=".01" placeholder="eg. 2.55" value="{{currentValueOfCall}}">
                <label for="exampleEmailInput">SMS cost</label>
                <input class="u-full-width smsCostSetting" name="smsCost" type="number" step=".01"  placeholder="eg. 0.65" value="{{currentValueOfSMS}}" >
                <label for="">Warning level</label>
                <input class="u-full-width warningLevelSetting " name="warningLevel" type="number" step=".01" placeholder="eg. 30.00" class="warningLevel" value="{{costWarning}}" >
                <label for="">Critical level</label>
                <input class="u-full-width criticalLevelSetting" name="criticalLevel" type="number" step=".01" placeholder="eg. 65.00" value="{{costCritical}}" >
                <button class="button-primary updateSettings" type="submit" name="button">Update settings</button>
                
              </form>
              </div>
                  <form class="five columns" method="POST" action="/clear"><button class="button-primary updateSettings" type="submit" name="reset">Reset button</button> </form>
             
              
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  
